@model IEnumerable<Hotel.web.Models.Response.ReceptionViewResult>

@{
    ViewData["Title"] = "Index";
}

<h1>Receptions</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.clientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.roomId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.entryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.departureDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.confirmationDepartureDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.startingPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.advancement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.remainingPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.totalPaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.costPenalty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.observation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.state)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.registrationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.clientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.roomId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.entryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.departureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.confirmationDepartureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.startingPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.advancement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.remainingPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.totalPaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.costPenalty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.observation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.registrationDate)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.receptionId }) |
                    @Html.ActionLink("Details", "Details", new { id=item.receptionId })
            </td>
        </tr>
}
    </tbody>
</table>
